<head>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<footer>
    <div class="footer">
      <div class="footer-links">
        <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/panoplies">Panoplies de la communauté</a></li>
        <li><a href="/item">Mes items</a></li>
        <li><a href="/mes-panoplies">Mes panoplies</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-info">
        <p>© {{ "now"|date("Y") }} Nom de ton entreprise. Tous droits réservés.</p>
      </div>
    </div>
  </footer>