/* Body */

*,
*::before,
*::after {
	font-family: "Raleway", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.8rem;
	font-size: 18px;
	color: #fff;
}

/* Header */

.overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente noire */
	z-index: -1; /* Pour être derrière le contenu de .overlay */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/overlay.jpg) center center no-repeat;
	background-size: cover;
	z-index: -100;
}

header {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/* Navbar */

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 30px 0 10px;
}

nav .logo {
	width: 170px;
}

nav ul {
	flex: 1;
	display: flex;
	justify-content: flex-start;
}

nav ul li {
	list-style: none;
	margin-left: 20px;
}

nav ul li a {
	text-decoration: none !important;
	color: #ffd700;
	font-size: 1.2rem;
}

nav ul li a:hover {
	color: #ad1717;
	font-weight: 600;
}

.navbar-nav {
	text-align: end;
}

nav .menu-icon {
	width: 60px;
}

/* Dropdown menu */

.dropdown {
	position: absolute;
	top: 10%;
	right: 5%;
}

.custom-dropdown-menu {
	margin-top: 15px !important;
}

.dropdown-menu {
	top: 20px !important;
	left: 10% !important;
	background-color: transparent;
	border: 2px solid #ffd700;
	border-radius: 20px;
	text-align: center;
	backdrop-filter: blur(7px);
}

.dropdown-menu a {
	color: #ffd700 !important;
	text-decoration: none;
}

.dropdown-menu a:hover {
	color: #ad1717 !important;
	text-decoration: none;
	font-weight: 600;
}

.dropdown-toggle {
	background-color: transparent !important;
	color: inherit !important;
	border: none !important;
	padding: 0 !important;
}

.dropdown-item {
	background-color: transparent !important;
	color: inherit !important;
	border: none !important;
	padding: 0.5rem 1rem !important;
}

/* Page d'accueil */

.content {
	min-height: 500px;
	margin: 0 auto;
}

.title {
	text-align: center;
	margin-bottom: 50px;
	color: #ffd700;
	font-style: italic;
	font-size: 50px;
}

.blockOne,
.blockTwo,
.blockThree,
.blockFour,
.blockFive {
	padding: 20px;
	display: flex;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 3%;
	border-radius: 20px;
}

.blockOne,
.blockThree,
.blockFive {
	flex-direction: row-reverse;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}

.left img,
.right img {
	width: 80%;
	border-radius: 20px;
	margin-right: 7%;
	margin-left: 7%;
}

.video {
	width: 550px;
	height: 309.375px;
	border-radius: 20px;
	margin-left: 7%;
	margin-top: 10px;
}

.left h2,
.left p,
.right h2,
.right p {
	width: 70%;
	margin-left: 10%;
}

.left h2,
.right h2 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #ffd700;
}

.blockTwo .left h2 {
	margin-top: 5px;
}

.blockFive .right h2 {
	margin-top: 10%;
}

.home-video {
	margin-left: 100px;
	color: #ffd700;
}

/* Formulaire d'inscription / connexion / édition */

.wrapper {
	width: 45%;
	background-color: rgba(0 0 0 / 30%);
	margin: 0 auto;
	border-radius: 20px;
	padding: 30px 40px;
}

.wrapper h1 {
	text-align: center;
	font-size: 36px;
}

.wrapper .inputBox {
	width: 100%;
	height: 50px;
	margin: 30px 0;
	position: relative;
}

.inputEdit {
	width: 100%;
	height: 50px;
	margin: 0;
	position: relative;
}

.inputBox input,
input#registration_fullName,
input#registration_pseudo,
input#registration_email,
input#registration_plainPassword_first,
input#registration_plainPassword_second,
input#item_image,
input#item_name,
input#item_price,
input#user_fullName,
input#user_pseudo,
input#user_plainPassword {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder,
input#registration_fullName::placeholder,
input#registration_pseudo::placeholder,
input#registration_email::placeholder,
input#registration_plainPassword_first::placeholder,
input#registration_plainPassword_second::placeholder,
input#user_fullName::placeholder,
input#user_pseudo::placeholder,
input#user_plainPassword::placeholder,
input#item_name::placeholder,
input#item_price::placeholder {
	color: #fff;
}

.inputBox img {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
}

.wrapper .btn {
	width: 100%;
	height: 45px;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 18px;
	color: #333;
	background: #fff;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-weight: 600;
}

.wrapper .btn:hover {
	background: #ffd700;
}

.wrapper .registerLink {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.registerLink a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.registerLink a:hover {
	text-decoration: underline;
	color: #ffd700;
}

label.required,
label.form-label {
	display: none;
}

/* Supprimer le texte "Aucun fichier choisi" */
.chooseImage::-webkit-file-upload-button {
	display: none;
}

.chooseImage::before {
	content: "Choisir une image";
	background: #fff;
	color: #333;
	border-radius: 20px;
	padding: 8px 15px;
	font-weight: 600;
	position: relative;
	top: -11px;
	left: -15px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	margin-right: 20px;
}

.chooseImage:hover::before {
	background: #ffd700;
}

.items-input input {
	margin-left: 30px;
	margin-right: 10px;
}

/* Notez une panoplie */

.buildAverage {
	margin-right: 20px;
}

.inputShow {
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	max-height: 54px;
}

.inputShow p {
	margin-left: 20px;
	margin-top: 10px;
}

.mark {
	background-color: transparent;
	margin-top: 20px;
}

.mark select {
	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	background-color: transparent;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}

.mark option {
	color: #333;
	font-weight: 600;
}

/* Création Panoplie / Item */

/* Tableau */

.tableTitle {
	text-align: center;
	color: #ffd700;
	font-style: italic;
	font-size: 50px;
}

table {
	width: 100%;
	margin-top: 20px;
}

td img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 20px;
	vertical-align: middle;
}

.gold-image {
	width: 25px;
	height: 25px;
	margin-left: 5px;
	vertical-align: middle;
	border-radius: 20px;
}

.lengthBuild {
	font-size: 32px;
	color: #ad1717;
	padding: 15px;
	font-weight: 400;
}

table,
th,
td {
	border-collapse: collapse;
	padding: 1rem;
	text-align: left;
}

main.table {
	width: 70%;
	height: auto;
	min-height: 500px;
	background-color: #fff5;
	margin: 0 auto;
	backdrop-filter: blur(7px);
	box-shadow: 0 0.4rem 0.8rem #0005;
	border-radius: 20px;
	overflow: hidden;
}

.tableHeader {
	width: 100%;
	height: 10%;
	background-color: #fff4;
	padding: 0.8rem 1rem;
}

.table td,
.table th {
	vertical-align: middle;
}

.tableBody {
	width: 95%;
	max-height: 600px;
	background-color: #ffffff5c;
	margin: 2rem auto;
	border-radius: 20px;
	overflow: auto;
	font-weight: 600;
}

.tableBody::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.tableBody::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #0004;
	visibility: hidden;
}

.tableBody:hover::-webkit-scrollbar-thumb {
	background-color: #0008;
	visibility: visible;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
	background-color: #0000000b;
}

tbody tr:hover {
	background-color: #fff6;
}

section.tableHeader {
	text-align: center;
}

form.search-item {
	text-align: center;
	margin-top: 20px;
}

input#search-item {
	width: 300px;
	text-align: center;
	border-radius: 20px;
	border: 2px solid #ffd700;
}

.form-group-images {
	display: flex;
	padding: 10px 15px 10px 15px;
}

img.item-image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 0.5rem;
	border-radius: 10px;
}

.none {
	display: none;
}

.inputPublic {
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	font-size: 16px;
	color: #fff;
	max-height: 54px;
}

.labelPublic {
	margin-top: 10px;
	margin-left: 20px;
}

.editImage {
	display: flex;
}

.editImage img {
	margin-top: 30px;
}

/* Bouton de création / édition / suppression */

.createBtn,
.markBtn,
.editBtn,
.deleteBtn {
	border-radius: 20px;
	font-size: 18px;
	color: #333;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-weight: 600;
	padding: 10px 20px;
	text-decoration: none;
	margin-bottom: 20px;
}

.createBtn {
	margin-left: 10px;
}

.searchBtn {
	width: 300px;
	text-align: center;
	border-radius: 20px;
	border: 2px solid #ffd700;
	margin-top: 30px;
}

.createBtn:hover,
.markBtn:hover {
	background: #82c383cf;
}

a.createBtn,
a.markBtn,
a.editBtn,
a.deleteBtn {
	font-size: 18px;
	text-decoration: none;
	color: #333;
}

.editBtn,
.deleteBtn {
	padding: 8px 12px;
}

.editBtn:hover {
	background: #ffd900c4;
}

.deleteBtn:hover {
	background: #ad1717;
}

/* Recherche d'items & d'utilisateurs */

#search-results-items {
	max-height: 300px;
	overflow-y: auto;
	border-radius: 20px;
	margin-top: 20px;
	padding-right: 10px;
	box-sizing: content-box;
	margin-bottom: 30px;
	text-align: center;
	color: #333;
	font-weight: 600;
}

#search-results-items::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

#search-results-items::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #0004;
	visibility: hidden;
}

#search-results-items:hover::-webkit-scrollbar-thumb {
	background-color: #0008;
	visibility: visible;
}

.searchTable {
	width: 60%;
	background-color: #fffb;
	margin: 0.8rem auto;
	border-radius: 20px;
	overflow: hidden;
}

a.createBtn {
	font-size: 18px;
}

#search-results {
	/* margin-left: 20px; */
	margin-top: 20px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	padding: 20px;
	border-radius: 20px;
}

/* Message d'erreur & succes */

.flash-success {
	background-color: #82c383cf;
	color: #333;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	margin: 0 auto;
	text-align: center;
}

.form-error {
	color: red;
	margin-bottom: 20px;
}

.form-error li {
	list-style: none;
}

/* Modal Suppresion d'items ou de panoplies */

.modal {
	position: fixed;
	z-index: 1;
	left: 37%;
	top: 27%;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	text-align: center;
	padding: 20px;
	width: 300px;
	border-radius: 20px;
	font-weight: 600;
}

#modal-confirm,
#modal-cancel {
	margin-top: 10px;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 20px;
}

#modal-confirm:hover {
	background-color: #82c383cf;
}

#modal-cancel:hover {
	background-color: #ad1717;
}

/* Footer */

footer img {
	width: 35px;
	height: 35px;
}

footer {
	background-color: #111111d8;
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

.footerContainer {
	width: 100%;
	padding: 70px 30px 20px;
}

.socialIcons {
	display: flex;
	justify-content: center;
}

.socialIcons a {
	text-decoration: none;
	padding: 10px;
	background-color: #fff;
	margin: 10px;
	border-radius: 20px;
}

.socialIcons a:hover {
	background-color: #ffd700;
	transition: 0.5s;
}

.footerNav {
	margin: 30px 0;
}

.footerNav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.footerNav ul li a {
	color: #fff;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footerNav ul li a:hover {
	transition: 0.5s;
	color: #ffd700;
}

.footerBottom {
	padding: 20px;
	text-align: center;
}

.designer {
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}

/* Responsive */

@media screen and (max-width: 1800px) {

	/* Header */

	nav {
		justify-content: center;
	}

	ul.navbar-nav {
		max-width: 5%;
	}
}

@media screen and (max-width: 1750px) {
	/* Page d'accueil */

	.title {
		font-size: 40px;
		margin-top: 3%;
	}

	.blockOne,
	.blockTwo,
	.blockThree,
	.blockFour,
	.blockFive {
		width: 100%;
		margin-left: 0;
	}

	.left,
	.right {
		width: 100%;
		margin-left: 0;
		margin-bottom: 7%;
	}

	.left h2,
	.right h2 {
		font-size: 30px;
	}

	.left p,
	.right p {
		font-size: 18px;
	}

	/* Tableau */

	table,
	th,
	td {
		min-width: 180px;
	}

	/* AGRANDIR SEULEMENT LA 3 EME COLONNE DU TABLEAU */

	.table thead th:nth-child(3),
	.table thead th:nth-child(4) {
		min-width: 350px;
	}
}

@media screen and (max-width: 1300px) {
	/* Page d'accueil */
	.blockOne,
	.blockTwo,
	.blockThree,
	.blockFour,
	.blockFive {
		display: inline-block;
	}

	.right img,
	.video {
		width: 70%;
		height: auto;
	}

	.home-video {
		margin-left: 120px;
	}
}

@media screen and (max-width: 960px) {

	/* Body */

	body {
		font-size: 16px;
	}

	/* Header */

	nav {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	nav ul {
		margin-bottom: 30px;
	}

	nav .logoUrl {
		margin-left: 40%;
	}

	.navbar-nav {
		position: absolute;
		top: 20%;
		right: 5%;
	}

	/* Page d'accueil */

	.title {
		font-size: 30px;
		margin-top: 3%;
	}

	.blockOne,
	.blockTwo,
	.blockThree,
	.blockFour,
	.blockFive {
		width: 100%;
		margin-left: 0;
	}

	.left,
	.right {
		width: 100%;
		margin-left: 0;
		margin-bottom: 7%;
	}

	.left h2,
	.right h2 {
		font-size: 20px;
	}

	.left p,
	.right p {
		font-size: 14px;
	}

	/* Tableau */

	main.table {
		width: 100%;
	}

	.tableTitle {
		font-size: 30px;
	}

	.lengthBuild p {
		font-size: 20px;
		margin-bottom: 0;
	}

	/* Formulaire d'inscription / connexion / édition */

	.wrapper {
		width: 80%;
	}

	/* Footer */

	.footerNav ul li a,
	.footerBottom {
		font-size: 14px;
	}
}

@media screen and (max-width: 760px) {
	
	/* Header */

	header {
		max-width: 100%;
	}

	nav ul {
		margin-bottom: 10px;
	}

	nav ul li a {
		font-size: 12px;
	}

	nav .menu-icon {
		width: 35px;
	}

	.navbar-nav {
		top: 21.8%;
		right: 3%;
	}

	nav ul li {
		margin-left: 15px;
	}

	/* Page d'accueil */

	.title {
		font-size: 25px;
		margin-top: 5%;
		margin-bottom: 0;
	}

	.left h2,
	.right h2 {
		font-size: 20px;
	}

	.left p,
	.right p {
		font-size: 14px;
	}

	.right {
		margin-bottom: 0;
	}

	.home-video {
		margin-left: 45px;
		font-size: 18px;
	}

	/* Formulaire d'inscription / connexion / édition */

	.wrapper {
		width: 100%;
	}

	.wrapper h1 {
		font-size: 30px;
	}

	/* Modal */

	.modal {
		left: 25%;
	}

	/* Footer */

	.footerNav ul li a {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 12px;
	}

	.footerBottom {
		font-size: 12px;
	}

	.footerContainer img {
		width: 25px;
		height: 25px;
	}
}

@media screen and (max-width: 500px) {

	/* Body */

	body {
		font-size: 12px;
		line-height: 1.2rem;
	}

	/* Header */

	nav .logo {
		width: 120px;
	}

	.navbar-nav {
		top: 15.1%;
		right: 5%;
	}

	nav .menu-icon {
		width: 30px;
	}

	nav ul li {
		margin-left: 10px;
	}

	nav ul li a {
		font-size: 10px;
	}

	/* Page d'accueil */

	.title {
		font-size: 20px;
		margin-top: 5%;
		margin-bottom: 0;
	}

	.left h2,
	.right h2 {
		font-size: 18px;
	}

	.left p,
	.right p {
		font-size: 12px;
	}

	.home-video {
		margin-left: 45px;
		font-size: 16px;
	}

	/* Tableau */

	th,
	td {
		font-size: 14px;
	}

	a.createBtn,
	a.editBtn,
	a.deleteBtn {
		font-size: 14px;
	}

	.tableTitle {
		font-size: 25px;
	}

	.lengthBuild p {
		font-size: 18px;
		margin-bottom: 0;
	}

	img.item-image {
		width: 40px;
		height: 40px;
	}

	/* Formulaire d'inscription / connexion / édition */

	.wrapper h1 {
		font-size: 20px;
	}

	.inputBox ::placeholder {
		font-size: 14px;
	}

	/* Modal */

	.modal {
		left: 20%;
	}

	/* Footer */

	.footerNav ul li a {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 10px;
	}

	.footerBottom {
		font-size: 10px;
	}

	.footerContainer img {
		width: 20px;
		height: 20px;
	}

	.socialIcons a {
		border-radius: 10px;
	}
}