*,
*::before,
*::after {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.8rem;
	font-size: 16px;
	color: #fff;
}

/* Header */

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente noire */
    z-index: -1; /* Pour être derrière le contenu de .overlay */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/overlay3.jpg) center center no-repeat;
	background-size: cover;
	z-index: -100;
}

header {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/* Navbar */

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 30px 0 10px;
}

nav .logo {
	width: 170px;
}

nav ul {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	padding-right: 40px;
}

nav ul li {
	list-style: none;
	margin-left: 20px;
}

nav ul li a {
	text-decoration: none !important;
	color: #FFD700;
	font-size: 1.2rem;
	transition: color 0.3s;
}

nav ul li a:hover {
	color: #4d0202;
}

.navbar-nav {
	text-align: end;
}

nav .menu-icon {
	width: 60px;
	margin-right: 5%;
}

/* Dropdown menu */

.custom-dropdown-menu {
    margin-top: 15px !important; /* Ajustez la valeur selon vos besoins pour le décalage vers le bas */
}

.dropdown-menu {
    top: 20px !important;
    left: 10% !important;
	width: 40%;
	background-color: transparent;
	border: 3px solid #FFD700;
	border-radius: 20;
	text-align: center;
}

.dropdown-menu a {
    color: #FFD700 !important;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #4d0202 !important;
    text-decoration: none;
}

.dropdown-toggle {
	background-color: transparent !important;
	color: inherit !important;
	border: none !important;
	padding: 0 !important;
}

.dropdown-item {
	background-color: transparent !important;
	color: inherit !important;
	border: none !important;
	padding: 0.5rem 1rem !important;
}

/* Home */

.content {
	min-height: 50vh;
}

.title {
	text-align: center;
	margin-bottom: 50px;
	color: #FFD700;
	font-style: italic;
	font-size: 50px;
}

.block {
	padding: 20px;
	display: flex;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5%;
}

.left, .right {
	width: 50%;
}

.left img, .right img {
	width: 550px;
	border-radius: 20px;
	margin-right: 10%;
	margin-left: 10%;
}

.video {
	width: 550px;
	height: 309.375px;
	border-radius: 20px;
	margin-left: 10%;
	margin-top: 2%;
}

.left h2, .left p, .right h2, .right p {
	width: 70%;
	margin-left: 10%;
}

.left h2, .right h2 {
	margin-top: 5%;
	margin-bottom: 3%;
}

.home-video {
	margin-left: 100px;
	color: #ffd900b9;
}

/* Footer */

footer img {
	width: 35px;
	height: 35px;
}

footer {
	background-color: #111111d8;
	position: relative;
    bottom: 0;
    width: 100%;
	margin-top: 50px;
}

.footerContainer {
	width: 100%;
	padding: 70px 30px 20px;; 
}

.socialIcons {
	display: flex;
	justify-content: center;
}

.socialIcons a{
	text-decoration: none;
	padding: 10px;
	background-color: #fff;
	margin: 10px;
	border-radius: 50%;	
}

.socialIcons a:hover {
	background-color: #FFD700;
	transition: 0.5s;
}

.footerNav {
	margin: 30px 0;
}

.footerNav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.footerNav ul li a {
	color: #fff;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footerNav ul li a:hover {
	transition: 0.5s;
	color: #FFD700;
}

.footerBottom {
	padding: 20px;
	text-align: center;
}

.designer {
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}

/* Tableau */

.my-items {
	max-width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.page-title {
	font-size: 32px;
	margin-bottom: 20px;
}

.flash-success {
	background-color: #dff0d8;
	color: #3c763d;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.item-count p {
	font-size: 18px;
}

.create-item-btn,
.edit-button,
.delete-button {
	display: inline-block;
	background-color: #364918;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	margin-bottom: 20px;
}

.item-table {
	width: 100%;
	border-collapse: collapse;
}

.item-table th,
.item-table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.item-table th {
	font-weight: bold;
}

.item-image {
	width: 50px;
	height: auto;
	object-fit: cover;
	margin-right: 5px;
	border-radius: 5px;
}

.item-price-container {
	display: flex;
	align-items: center;
}

.gold-image {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	vertical-align: middle;
	border-radius: 10px;
}

.edit-button {
	background-color: #052950;
	margin-bottom: 0;
}

.delete-button {
	background-color: #880e1a;
	margin-bottom: 0;
}

.navigation {
	margin-top: 20px;
}

/* Styles pour edit.html.twig et new.html.twig */

.form-group-images {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.edit-items,
.new-items {
	max-width: 60%;
	margin: 0 auto;
	padding: 20px;
}

.image-input,
.name-input,
.price-input {
	width: 100%;
	padding: 5px;
	font-size: 16px;
}

.form-group {
	margin-bottom: 20px;
}

.form-error {
	/* background-color: #eb9595; */
	color: red;
	width: 200px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.submit-button,
.btn-form-edit,
.btn-form-new {
	display: inline-block;
	background-color: #364918;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
}

.none {
	display: none;
}

/* Pagination */
.navigation {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


/* Mobile */

@media (max-width: 700px) {
	.footerNav ul {
		flex-direction: column;
	}

	.footerNav ul li {
		width: 100%;
		text-align: center;
		margin: 10px;
	}
}