{% extends "@EasyAdmin/page/content.html.twig" %}
{% block content %}
	<a href="{{ path('home.index') }}"><img src="/images/icons/logo.png" style="width:100px; margin-right:15px" alt="logo">Bienvenue au sein de l'administration de CspBook</a>
{% endblock %}
