{% extends 'base.html.twig' %}

{% block title %}Csp_Book - Modification de mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Formulaire de modification de mot de passe des utilisateurs</h1>

		{% for message in app.flashes('warning') %}
			<div class="form-error">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
		</div>
	{% endblock %}
