{% extends 'base.html.twig' %}

{% block meta_description %}Recherchez des utilisateurs simplement grace a cette interface !
{% endblock %}

{% block title %}Csp_Book - Recherche utilisateur
{% endblock %}

{% block body %}
	<main class="content">
		<div class="wrapper">
			<h1>Rechercher un utilisateur</h1>

			<form action="{{ path('search_users') }}" method="GET">
				<input type="text" name="user" id="search-user" class="searchBtn" placeholder="Rechercher un utilisateur">
			</form>

			<div id="search-results"></div>
		</div>
	</main>
{% endblock %}
