<head>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/panoplies">Panoplies de la communauté</a></li>
      <li><a href="/equipements">Mes équipements</a></li>
      <li><a href="/mes-panoplies">Mes panoplies</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  