{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div>
		<h1>Bienvenue sur CspBook</h1>
		<p>C'est ma première page Symfony. Je vais la travailler à la fin</p>
		<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application</p>
		<a href="#">Inscription</a>
	</div>
{% endblock %}
