{% extends 'base.html.twig' %}

{% block title %}Csp_Book - Inscription
{% endblock %}

{% block body %}
	<main class="content">
		<div class="wrapper">
			<h1>S'inscrire</h1>
			{{ form(form) }}
				<div class="registerLink">
					<a href="{{ path('security.login') }}">Déjà inscrit ?</a>
				</div>
			</div>
		</main>
	{% endblock %}
