{% extends 'base.html.twig' %}

{% block title %}Csp_Book - Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Formulaire d'inscription</h1>

		{{ form(form) }}
	{% endblock %}
