{% extends 'base.html.twig' %}

{% block title %}Csp_Book - Inscription
{% endblock %}

{% block body %}
	<main class="content">
		<div class="container">
			<h1>Formulaire d'inscription</h1>

			{{ form(form) }}
			</div>
		</main>
		
	{% endblock %}
